:root {
    --brand-color: #841D33;
    --bg-color: #FFFFFF;
    --text-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    min-height: 100dvh;
}

main-container {
    padding: 0;
}